---
BasedOnStyle: Mozilla

Language: Cpp
Standard: c++17

ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never

MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None

BinPackArguments: false
BinPackParameters: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: Always
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: true
  BeforeCatch:     false
  BeforeElse:      true
  BeforeLambdaBody: false
  BeforeWhile:     true
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: false
  SplitEmptyNamespace: true

CompactNamespaces: true
Cpp11BracedListStyle: false

FixNamespaceComments: true

IndentCaseLabels: false

NamespaceIndentation: Inner

PointerAlignment: Left

ReflowComments: true

SpaceInEmptyBlock: true

DisableFormat: false
...
